<div class="container" ng-controller="BlogController">
<table class="table table-bordered">
<tr bgcolor="red">
<td colspan="2" class="text-center">Sign in here</td>
</tr>
<tr>
<td>Blog Name</td>
<td><input type="text" name="umame" ng-model="blog.blogName"/></td>
</tr>
<tr>
<td>Blog Content</td>
<td><textarea clos="20" rows="7" name=blogcontent ng-model="blog.blogContent"></textarea></td>
</tr>
<tr bgcolor="pink">
 <td colspan="2">
 <center>
 <input type="button" class="btn btn-success" ng-click="addBlog()" value="Add Blog"/>
 <a href="#/register">Sign up</a> 
 </center>
 </td>
 </tr>
</table>
</div>
