<div class="container" ng-controller="BlogController">


<h2 align="center">Manage Blog</h2>

<table class="table table-condensed">
<thread>
<tr>
<th>Blog Name</th>
<th>Created by</th>
<th>Created Date</th>
<th>Status</th>
<th></th>
</tr>
</thread>
<tbody>
<tr ng-repeat="blog in blogData">
<td>{{blog.blogname}}</td>
<td>{{blog.user.username}}</td>
<td>{{blog.createdate}}</td>
<td >
<input type="button" value="Approve" class="btn btn-success" ng-click="approve(blog.blogid)"/>
</td>
<td >
<input type="button" value="Reject" class="btn btn-danger" ng-click="reject(blog.blogid)"/>
</td></tr>
</tbody>
</table>
</div>