<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" >

<h2 align"center">Show Blogs</h2>

<div class="panel-group" id="accordion">
<div class="panel panel-defualt">
<div class="panel-heading">
<h1>Comment on this Blog</h1>
</div>
<div  class="panel-collapse collapse in">
<div class="panel-body">
<b><span style="color:red">Blogname:</span><span style="color:blue">{{blog.blogname}}</span></b>
<br/>
<br/>
<b><span style="color:red">BlogContent:</span><span style="color:blue">{{blog.blogcontent}}</span></b>
</div>
</div>


</div>
</div>
</div>


<div class="container" >
<bg color="cyan">

<textarea rows="3" cols="40" name="commentdata" ng-model="blogComment.commentdata" placeholder="Add Comment"></textarea>
<img src="resources/images/InsertIcon.png" width="30" height="30" ng-click="insertComment(blog)"/>
</div>


<div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right"></small> Comments </h1>
                  </div> 
                   <div class="comments-list" ng-repeat="comment in blogCommentdata">
                       <div class="media">
                           <p class="pull-right"><small>Commented On:{{comment.commentedon}}</small></p>
                            <a class="media-left" href="#">
                              <img src="http://lorempixel.com/40/40/people/1/">
                            </a>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">Commented By:{{comment.user.username}}</h4>
                             {{comment.commentdata}}
                              
                              
                            </div>
   <span style="color:white"> _________________________________________________________________________________________________________</span>
                          </div>
                       </div>
                   </div>
                   </div>
                   </div>
                   
