<div class="container" ng-controller="BlogController">

<h2 align"center">Blog Info</h2>

<div class="panel-group" id="accordion">
<div class="panel panel-defualt" >
<div class="panel-heading">
<h4 class="panel-title">
<a data-toogle="collapse" data-parent="#accordion" href="#{{blog.blogId}}">Collapsible Group:</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="like.png" width="20" height="20" ng-click="incrementLikes(blog.blogId)"/>{{blog.likes}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="dislike.png" width="20" height="20" ng-click="incrementDisLikes(blog.blogId)"/>{{blog.dislikes}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img ng-show="blog.username==currentUser.username" src="delete.png" width="20" height="20" ng-click="deleteBlog(blog.blogId)"/>{{blog.deleteBlog}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="comment.png" width="20" height="20" ng-click="showComments(blog.blogId)"/>{{blog.blogComments}}
</h4>
</div>
<div id="{{blog.blogId}}" class="panel-collapse collapse in">
<div class="panel-body">
{{blog.blogContent}}
</div>
</div>
</div>
</div>
<bg color="cyan">
<div><textarea rows="3" cols="40" name="commentData" ng-model="blogComment.commentData"></textarea>
<img src="InsertIcon.png" width="30" height="30" ng-click="insertComment(blog.blogId)"/>
</div>

<div ng-repeat="comment in blogCommentData">
<div>
<img src="" width="20" height="20">
{{comment.commentData}}
</div>
<div>{{comment.createDate}}</div>
</div>