<div class="container" ng-controller="BlogController">

<h2 align"center">Manage Blog</h2>

<div class="panel-group" id="accordion">
<div class="panel panel-defualt" ng-repeat="blog in blogdata">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toogle="collapse" data-parent="#accordion" href="#{{blog.blogId}}">Collapsible Group:</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="like.png" width="20" height="20" ng-click="incrementLikes(blog.blogId)"/>{{blog.likes}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="dislike.png" width="20" height="20" ng-click="incrementDisLikes(blog.blogId)"/>{{blog.dislikes}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="delete.png" width="20" height="20" ng-click="deleteBlog(blog.blogId)"/>{{blog.deleteBlog}}
</h4>
</div>
<div id="{{blog.blogId}}" class="panel-collapse collapse in">
<div class="panel-body">
{{blog.blogContent}}
</div>
</div>
</div>
</div>
</div>